<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="header">
        <div class="cambiarTraduccion">
            <p>.-</p>
            <span class="material-symbols-outlined">
                chevron_right
            </span>
            <p>a</p>
        </div>
        <div class="diccionario">
            <!-- <span class="material-symbols-outlined">
                menu
            </span> -->
            <span class="material-symbols-outlined">
                question_mark
            </span>
        </div>
    </div>

    <div class="contenido">

        <div class="sidebar--estadisticas">
            <div class="sidebar2--titulo">
                <!-- <p><b>Panel Estadisticas</b></p> -->
           </div>
   
           <span>Traduccion a Texto</span>
           <div class="skill">
               <div class="outer">
                   <div class="inner">
                       <div class="number">
                           <p class="porcentaje_a_texto">0%</p>
                       </div>
                   </div>
               </div>
               <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="porcentaje_barra">
                   <defs>
                      <linearGradient id="GradientColor">
                         <stop offset="0%" stop-color="#e91e63" />
                         <stop offset="100%" stop-color="#673ab7" />
                      </linearGradient>
                   </defs>
                   <circle class="circle-a-texto" cx="80" cy="80" r="70" stroke-linecap="round" stroke-dasharray="450"/>
               </svg>
           </div>
           <br>
   
           <span>Traduccion a Morse</span>
           <div class="skill">
               <div class="outer">
                   <div class="inner">
                       <div class="number">
                           <p class="porcentaje_a_morse">0%</p>
                       </div>
                   </div>
               </div>
               <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="porcentaje_barra">
                   <defs>
                      <linearGradient id="GradientColor2">
                         <stop offset="0%" stop-color="#0be8bf" />
                         <stop offset="100%" stop-color="#ffd60a" />
                      </linearGradient>
                   </defs>
                   <circle class="circle-a-morse" cx="80" cy="80" r="70" stroke-linecap="round" />
               </svg>
           </div>
        </div>

        <div class="traduccion">
            <div class="texto-a-traducir">
                <p class="texto"></p>
            </div>
            <div class="texto-traducido">

                    <input class="traduccion__input" type="text" placeholder="Traduccion">

                    <div class="btn-aceptar">
                        <span>Aceptar</span>
                    </div>
            </div>
        </div>

        <div class="sidebar--caracteres bg-success">
            <p class="titulo ">Configuracion</p>
            <div class="configuraciones">

                <p class="">Cantidad</p>
                <input class="input-cantidad" type="number" value="1">
                <p>Alfabeto</p>
                <label class="switch activar-alfabeto">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                <p>Numeros</p>
                <label class="switch">
                    <input class="activar-numeros" type="checkbox">
                    <span class="slider"></span>
                </label>
                <p>Simbolos</p>
                <label class="switch">
                    <input class="activar-simbolos" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        
    </div>
</body>
</html>